dist/
build/
.vscode/
.cache/
*.egg-info/
__pycache__
build.log
*.so
*.grg
/gconverter
/gindexer
/grg-merge
/grgl
/grgp
doc/_build/
doc/doc/
doc/html/
*.swp
gperftools-2.15/
jupyter/.ipynb_checkpoints/
jupyter/*.trees
/*.igd
doc/rtd_html/
